/**
* Base style sheet for interacto.me.
*
* (c) Jack Peterson (jack@tinybike.net), 2013
*/

html, body, h1, h2, p {
    margin: 0;
    padding: 0;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, Verdana, Sans-serif;
    font-size: 13pt;
    color: #000;
    background: #fff;
}
.hidden {
    display: none;
}
a {
    text-decoration: none;
}

/* Navigation bar */
#topbar {
	margin-top: 0;
	height: 25px;
	color: #000;
	font-size: 11pt;
	background-color: #f5f5f5;
	box-shadow: 0 0 6px 1px #fff;
	border-bottom: 1px solid #777;
}
#topbar a {
	color: #000;
}
#topbar img {
	vertical-align: bottom;
}
#nav {
    text-align: left;
    float: left;
}
#topbar .padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
}

.text_input {
	width: 85% !important;
	margin-top: 10px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tabs {
	float: right;
	margin-top: 0;
	padding: 0;
}
.tabs_table table {
	padding: 0;
	margin-top: 0;
	border-collapse: collapse;
}
.tabs_table td {
	padding-top: 0;
	margin-top: 0;
	height: 25px;
	padding-left: 15px;
	padding-right: 14px;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
}
.tabs_table td:hover {
	background-color: #fff;
}

/* How this works */
nav #how {
	border-right: 1px solid #ddd;
	-moz-box-shadow: 1px 0 0 #fff;
	-webkit-box-shadow: 1px 0 0 #fff;
	box-shadow: 1px 0 0 #fff;  
}

nav #how .active {
	background: #fff;
}

/**
* Button CSS
*/

.button, .small_button, .medium_button {
    padding: 7px 12px 7px 12px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #5e5e5e;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url("https://d3l0iz7q6gnphu.cloudfront.net/assets/buttons/buttons-0ce2d40b1facf6b1a69d16b1a4dd8d7a.png") repeat-x top left;
}
input.button, input.button:active, input.button:disabled {
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.button:hover, .small_button:hover {
    border-color: #9e9e9e;
    text-decoration: none;
}
.button.grey {
    background-position: 0px 0px
}
.button.orange {
    background-position: 0px -29px
}
.button.red {
    background-position: 0px -58px;
    color: #fff;
}
.button.yellow {
    background-position: 0px -145px
}
.button.green {
    color: #fff;
    background-position: 0px -87px;
    text-shadow: 0px 0px 1px #777;
}
.button.blue {
    background-position: 0px -116px;
    color: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: 0px 0px 1px #333;
    border-color: #4891dc;
}
.button.blue:hover, .medium_button.blue:hover {
    -webkit-box-shadow: 0px 0px 3px #999;
    -moz-box-shadow: 0px 0px 3px #999;
    box-shadow: 0px 0px 3px #999;
}
.button span {
    background: url("images/button_icons-d4cd410000ba2f698a55dfe8bc63ed16.png") no-repeat top left;
    display: block;
    width: 13px;
    height: 12px;
    float: left;
    margin: 2px 5px 0px 0px;
}
.button.plus span {
    background-position: 0px 0px
}
.button.checked span {
    background-position: 0px -12px
}
.button.remove span {
    background-position: 0px -24px
}
.medium_button {
    font-size: 10px;
    padding: 6px 10px 6px 10px;
    color: #666;
    position: relative;
    background: url("https://d3l0iz7q6gnphu.cloudfront.net/assets/buttons/buttons-medium-77d5bb5fc5a7dc73870efaa49f9ed124.png") repeat-x top left;
}
input.medium_button {
    padding: 5px 10px 5px 10px
}
.medium_button.blue {
    color: #fff;
    border: 1px solid #4891dc;
    box-shadow: inset 0px 0px 2px #49c6f5;
    -webkit-box-shadow: 0px 0px 1px #49c6f5;
    -moz-box-shadow: 0px 0px 1px #49c6f5;
    text-shadow: 0px 0px 1px #333;
}
.medium_button.blue:hover {
    text-decoration: none
}
.medium_button.green {
    color: #fff;
    border: 1px solid #5ea831;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: 0px 0px 1px #333;
    background-position: 0px -25px;
}
.medium_button.red {
    color: #fff;
    text-shadow: 0px 0px 1px #333;
    background-position: 0px -50px;
}
.medium_button.gray {
    background-position: 0px -75px
}
.small_button {
    height: 21px;
    background: url("https://d3l0iz7q6gnphu.cloudfront.net/assets/buttons/buttons-small-2849330262baaa38eaaecf2bc7d8146b.png") repeat-x top left;
    font-size: 10px;
    padding: 3px 10px 3px 10px;
    color: #666;
    position: relative;
}
.small_button.blue {
    background-position: 0px -21px;
    color: #fff;
    text-shadow: 0px 0px 1px #333;
    border-color: #4891dc;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.small_button.blue:hover {
    border-color: #254c74
}
.small_button.red {
    background-position: 0px -41px;
    color: #fff;
    border-color: #aaa;
}
.small_button.left_half {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.small_button.right_half {
    border-left: none;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -4px;
} 

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -21px; /* the bottom margin is the negative value of the footer's height */
}

#footer {
	background-color: #f5f5f5;
    text-align: center;
    font-size: 11pt;
    border-top: 1px solid #777;
}
#footer, .push {
	height: 18px; /* .push must be the same height as .footer -2 (b/c of borders)*/
	clear: both;
}

/* Lightbox CSS */
.try { 
    width: 93px;
    height: 31px;
    background-position: -30px -156px;
}
.try:hover {
    background-position: -30px -187px;
}
.try:active {
    background-position: -30px -218px;
}
.white {
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
}

#about_this_site {
	font: 15px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 14px 22px;
	width: 50%;
	position: relative;
	display: none;
	color: #000;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #777;
}

#about_this_site_form {
	position: relative;
	clear: both;
	padding-top: 10px;
	padding-bottom: 5px;
}

.hover-item {
	position:relative;
	cursor:pointer;
}
.hover-item span {
	display:none;
	position:absolute;
	top:-25px;
	left:-200px;
	z-index:1;
	width:170px;
	padding:10px;
	border:1px solid #630;
	/*border-radius:5px;*/
	background-color:#fff;
	box-shadow:1px 1px 1px #999;
	font-size:75%;
	color:#630;
	cursor:default;
	font-weight:normal;
}
.hover-item:hover span {
    display:block;
}

/* Leftbar */
#leftbar {
	left: 20px;
	top: 50px;
	font-size: 10pt;
	position: absolute;
}
#leftbar table {
	line-height: 15px;
	background-color: #fff;
}
#leftbar td {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 5px;
	border: 1px solid #777;
}
#leftbar td:hover {
	background-color: #ffcccc;
}
#leftbar a {
	color: #000;
}

/* Rightbar */
#rightbar {
	width: 250px;
	max-width: 15%;
	float: right;
	clear: right;
	padding-right: 10px;
	padding-top: 0;
	font-size: 11pt;
	background-color: #fff;
}
#rightbar table {
	width: 100%;
	line-height: 18px;
}
#rightbar td {
	text-align: left;
}
#rightbar td:hover {
	background-color: #f5f5f5;
}
#rightbar th {
	border: 1px solid #777;
	font-weight: normal; 
}

/* Search */
#searchbar {
	width: 250px;
	max-width: 15%;
	float: right;
	clear: right;
	padding-right: 10px;
	padding-top: 0;
	font-size: 11pt;
	padding-bottom: 20px;
}
#searchbar table {
	width: 100%;
	line-height: 18px;
	border: 1px solid #777;
}
#searchbar td {
	text-align: center;
}
#searchbar th {
	border: 1px solid #777;
	font-weight: normal; 
}

/* sigma.js CSS */
#sigma-parent {
	width: 100%;
	height: 250px;
	position: relative;
	float: left;
}
#sigma-example {
	position: absolute;
	left: 100px;
	width: 78%;
	height: 90%;
}

/* Leftbar-summary */
#summary {
	left: 15px;
	top: 195px;
	font-size: 11pt;
	position: absolute;
}
#summary table {
	line-height: 19px;
	background-color: #fff;
}
#summary td {
	padding-left: 7px;
	font-size: 10pt;
}
#summary td:hover {
	background-color: #f5f5f5;
}
#summary th {
	font-weight: normal;
	border-left: 1px solid #777;
	border-top: 1px solid #777;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 8px;
}
#summary a {
	color: #000;
}

/* Datapicker */
#datapicker {
	left: 30px;
	top: 145px;
	font-size: 10pt;
	position: absolute;
}
#datapicker table {
	line-height: 19px;
	background-color: #fff;
}
#datapicker td {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 5px;
	border: 1px solid #777;
}
#datapicker td:hover {
	background-color: #ffcccc;
}
#datapicker a {
	color: #000;
}

/* Title label */
#title_label {
	text-align: center;
	float: center;
}
#title_label img {
	margin: auto;
	max-width: 92%;
}

/* Intro text */
#intro {
	left: 15px;
	top: 195px;
	width: 40%;
	display: none;
	font-size: 11pt;
	position: absolute;
	border: 1px solid #777;
	border-radius: 10px;
	padding: 20px;
	background-color: #fff;
}

/* Search results */
#search_results {
	display: none;
	position: absolute;
	top: 50px;
	right: 270px;
	width: 450px;
	background: #fff;
	padding: 15px;
	border: 1px solid #777;
	border-radius: 5px;
}

#results_header {
	float: left;
	max-width: 95%;
}
#close_button {
	float: right;
	text-align: right;
}
#show_results {
	max-height: 500px;
	overflow-y: auto;
	clear: both;
}
#show_results table {
	margin-top: 10px;
}
#search_results th {
	text-align: left;
	font-size: 12pt;
}
#protein_details {
	max-height: 500px;
	overflow-y: auto;
	clear: both;
}
#protein_details table {
	margin-top: 10px;
	width: 100%;
}
#protein_details td {
	font-size: 9pt;
}
