<div id="topbar">
	<div id="nav">
		<nav>
		<div class="tabs_table">
			<div id="title_label">
				<table>
					<tr>
					<th><img src="images/interactome.png" alt="interactome" /></th>
					</tr>
				</table>
			</div>
		</div>
		</nav>
	</div>
	<nav>
		<div class="tabs_table">
			<div class="tabs">
				<table>
					<tr>
					<div id="how">
						<td>
						<a href="#" onclick="$('#intro').lightbox_me({centered: true}); return false;">help</a>
						</td>						
						<td>
						<a href="https://github.com/tensorjack/ppi">source</a>
						</td>
						<td>
						<a href="https://github.com/tensorjack/DUNE">simulation</a>
						</td>
						<td><a href="http://dillgroup.org">dillgroup</a></td>
						<td>
						<a id="try-1" class="try" href="#" onclick="return false;">about</a>								
						</td>
					</div>
					</tr>
				</table>
			</div>
		</div>
	</nav>
</div>

